NODE_ENV=production

# ════════════════════════════════════════════════════════════════════
#  OUTLINE
# ════════════════════════════════════════════════════════════════════
URL=http://localhost:3000
FORCE_HTTPS=false

# Secrets — régénérer : openssl rand -hex 32
SECRET_KEY=
UTILS_SECRET=

# Postgres — régénérer : openssl rand -hex 16
OUTLINE_DB_PASSWORD=

DATABASE_CONNECTION_POOL_MIN=
DATABASE_CONNECTION_POOL_MAX=
PGSSLMODE=disable
REDIS_URL=redis://redis:6379

FILE_STORAGE=local
FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data

LOG_LEVEL=info
DEFAULT_LANGUAGE=fr_FR

# OIDC — à remplir après avoir créé le client "outline" dans l'UI auth
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_DISPLAY_NAME=Simple SSO
OIDC_SCOPES=openid profile email

# ════════════════════════════════════════════════════════════════════
#  AUTH (IdP maison)
# ════════════════════════════════════════════════════════════════════
AUTH_PUBLIC_URL=http://localhost:4000

# Secrets — régénérer : openssl rand -hex 32
AUTH_SESSION_SECRET=
